{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true
  },
  "extends": ["airbnb-base"],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "rules": {
    "no-console": "off",
    "class-methods-use-this": "off",
    "no-underscore-dangle": "off",
    "comma-dangle": "off",
    "no-plusplus": "off"
  }
}
